
ul.blog-dates {
	list-style:none;
}
.blog-post {
	margin:0 auto 50px;
	font-size:13px;
	color:#666;
	width:80%;
}
.blog-post h2 {
	color:#000;
}
.blog-post a {
	cursor: pointer;
	text-decoration:none;
	color: #D27035;
}
.blog-post ul li {
	line-height: 1.5em;
}
.blog-post .post-date {
	font-size:12px;
	float:right;
	margin:0;
}

.blog-links {
	list-style:none;
}
.blog-links a {
	display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

span.git {
    background-image: url(../images/github_00.png);
	display: table-cell;
    width: 40px;
    height: 40px;
    background-size: 40px;
}