* {
	box-sizing:border-box:
}

.stg-col-1 { width:100%; clear:left; }
.stg-col-2 { width:50%; }
.stg-col-3 { width:33.33%; }
.stg-col-4 { width:25%; }
.stg-col-5 { width:20%; }

.stg-col-2, .stg-col-3, .stg-col-4, .stg-col-5 { float:left; }

.stage { width:640px !important; margin:0 auto; }

@media (max-width:360px) { 
	.stage { width:360px !important; margin:0 auto; }
	.stg-col-2, .stg-col-3, .stg-col-4, .stg-col-5 { width:100% !important; }
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	padding-top:0;
	padding-bottom:0;
}

.spacer-btm-sm { margin-bottom:5px; }
.spacer-btm-md { margin-bottom:10px; }
.spacer-btm-lg { margin-bottom:20px; }
.spacer-btm-xlg { margin-bottom:40px; }

.image-link {
	padding:5px;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.image-link img {
	width:inherit;
}
.image-link a {
	width:100%;
}