body {
	background-color:#2b3954;
	margin-top:0;
	margin-bottom:0;
	font-family:'open sans', arial, sans-serif
}

.header-bar {
	background-color: #000;
	position: absolute;
	width:100%;
	height:150px;
	z-index:-1;
	left:0;
	top:0;
}

.my-image {
	width:200px;
	border:5px solid #000;
}
@media(max-width:360px) {
	.my-image {
		display: block;
		margin: 0 auto;
	}
}

.social-links { display:block; }
@media(min-width:360px) { 
	.social-links { 
		margin:0 auto;
		width:135px;
	}
}
@media(min-width:640px) { 
	.social-links { 
		margin:40px 0 0 0;
		width:100%; 
		float:right;
	}
}
.social-links { padding:0; }
.social-links li {
	display:inline-block;
	float:right;
}

@media(min-width:360px) { .social-links li { height:40px; } }
@media(min-width:640px) { .social-links li { height:60px; } }

.social-links a {
	height:inherit;
	display:block;
}
.social-links img {
	height:inherit;
	padding:2px;
}

@media(max-width:640px){ 
	.blog-post { 
		width:550px !important;
		font-size:14px !important;
	}
}
@media(max-width:360px){ 
	.blog-post { 
		width:360px !important;
		font-size:13px !important;
		letter-spacing:1px;
	}
}
.blog-post {
	margin:0 auto;
	font-size:14px;
	color:#e8eaea;
}
.blog-post ul li {
	line-height: 1.5em;
}
.blog-post .post-date {
	font-size:12px;
	float:right;
	margin:0;
}

.blog-links {
	list-style:none;
}

.blog-links a{
	background-size:contain;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
	float:left;
}
.blog-links a.git {
	background-image: url(../images/github_01.png);
}
.blog-links span.link-text {
	display: table-cell;
	height: 40px;
	vertical-align: middle;
	text-indent: 10px;
}


/**********************************/
/** Special post-specific styles **/
/**********************************/
@media(max-width:360px) {
	.suzie-light,
	.suzie-light-left, 
	.suzie-light-right {
		height:765px;
	}
}
.suzie-light-left, .suzie-light-right { float:left; }
.suzie-light-left { width:77% !important; }
.suzie-light-right { width:23% !important; }
