body {
	background-color:#2b3954;
	margin-top:0;
	margin-bottom:0;
}

div#main-container {
	width:900px;
	margin:0 auto;
}

div.center-container {
	width:50%;
	min-width: 600px;
	height: inherit;
	margin:0 auto;
}

div#header-bar{
	height:60px;
	background-color:#000;
	border:none;
}

div#header-container {
	background-color:#000;
	height:120px;
	padding:40px 0;
}

img.header-image {
	width:200px;
	border:2px solid #000;
	display:inline-block;
	float:left;	
}

ul.social-media-links {
	list-style: none;
	display:block;
	float:right;
}

ul.social-media-links li {
	display:inline-block;
	padding:10px 5px 0 5px;
}

ul.social-media-links img {
	height:40px;
}
