ul.social-links {
    list-style: none;
	padding-left: 0;
	height: 200px;
}
ul.social-links li {
	display:inline-block;
}
ul.social-links a {
	display:block;
	width: 65px;
    height: 65px;
	margin:60px 0;
}
ul.social-links a.linkedin,
ul.social-links a.twitter, 
ul.social-links a.instagram,
ul.social-links a.github {
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
ul.social-links a.linkedin { background-image: url(../images/linkedin.png); }
ul.social-links a.instagram{ background-image: url(../images/instagram.png); }
ul.social-links a.twitter{ background-image: url(../images/twitter00.png); }
ul.social-links a.github{ background-image: url(../images/github_00.png); }
