<!doctype html>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %} Floresj4.github.io{% endif %}</title>
	<link rel='stylesheet' type='text/css' {% if page.url != "/" %} href='../../style/site.css' {% else %} href='./style/site.css' {% endif %} />
	<link rel='stylesheet' type='text/css' {% if page.url != "/" %} href='../../style/blog.css' {% else %} href='./style/blog.css' {% endif %} />
	<link rel="stylesheet" type='text/css' {% if page.url != "/" %} href='../../style/highlight/styles/github.css'{% else %} href='./style/highlight/styles/github.css' {% endif %} />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script {% if page.url != "/" %} src="../../style/highlight/highlight.pack.js"{% else %} src="./style/highlight/highlight.pack.js" {% endif %}></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/go.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type='text/javascript'>
		//ensure workers are available first
		if(typeof(Worker) !== "undefined") {
			addEventListener('load', function() {
				var code = document.querySelectorAll("code");

				var wrkpath = document.location.pathname != "/"
					? "../../scripts/worker.js" : "./scripts/worker.js";
				var worker = new Worker(wrkpath);
				worker.onmessage = function(event) {
					var msg = event.data;
					code[msg.index].innerHTML = msg.textContent;
				};
				
				for(var i = 0; i < code.length; i++) {
					worker.postMessage(msg = {
						index : i, 
						textContent : code[i].textContent 
					});
				}
			});
		} else
			console.log("web workers unavailable.  Upgrade your browser!");
	</script>
</head>
<body>
	
	<div class='stg-col-1 header-bar'></div>

	<div class='.container'>

		<div class='row'>
			<div class='col-xs-12 col-sm-6'>

				<img {% if page.url != "/" %} src='../../images/jflores.jpeg' {% else %} src='./images/jflores.jpeg'{%endif%} class='my-image'/>

			</div>
			<div class='col-xs-12 col-sm-6'>

				<div class='stretch'>
					<ul class='social-links'>
						<li><a href="https://www.linkedin.com/pub/jason-flores/1b/396/239" class='linkedin' target="_blank"></a></li>
						<li><a href="https://twitter.com/floresj1183" class='twitter' alt="Mostly retweets of science and technology" target="_blank"></a></li>
						<li><a href="https://instagram.com/floresj04" class='instagram' alt="Picture my life..." target="_blank"></a></li>
						<li><a href="https://github.com/Floresj4" class='github' target="_blank"></a></li>
					</ul>
				</div>
				<div class='stretch'>
					<ul class='site-nav'>
						<li><a {% if page.url != "/" %} href='../../index.html' {%else%} href='./index.html'{%endif%} class='separator'>Home</a></li>
						<li><a {% if page.url != "/" %} href='../../about.html' {%else%} href='./about.html'{%endif%}>About</a></li>
					</ul>
				</div>

			</div>
		</div>

		<!-- leave the container open to be closed
				by the footer attachment; for complete html -->