<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %} Floresj4.github.io{% endif %}</title>
	<link rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' type='text/css' href='bower_components/lightbox2/dist/css/lightbox.css' />
	<link rel='stylesheet' type='text/css' href='style/site.css' />
	<script type='text/javascript' src="bower_components/jquery/dist/jquery.js"></script>
</head>
<body>
	
	<div id='header-bar'>
		<div class='center-container'>
			<img src='images/jflores.jpeg' class='header-image'/>

			<div class='right-container social-media'>

				<img src='images/slnt.png' />
				
				<ul class='social-media-links'>
					<li>
						<a href="https://github.com/Floresj4" target="_blank">
							<img src="images/github_02.png" />
						</a>
					</li>
					<li>
						<a href="https://instagram.com/floresj04" alt="Picture my life..." target="_blank">
							<img src="images/instagram.png" />
						</a>
					</li>
				</ul>
			</div>
		
		</div>
	</div>