.project-container {
    margin-bottom: 10px;
}

h1.project-title,
h2.project-title,
h3.project-title,
h4.project-title,
h5.project-title {
    margin-bottom: 5px;
}

.project-title a {
    text-decoration: none;
    cursor: pointer;
}

.project-url a {
    font-size: 10px;
    cursor: pointer;
}

.project-description p {
    font-size: 11px;
    margin: 0;
}

.project-logo {
    max-width: 100%;
    max-height: 50px;
}

.no-pad {
    padding: 0;
}