<div class='header-design'>
</div>
<div class='container'>
    
    <div class='row'>
        
        <div class='col-sm-6 col-xs-12'>
            <img src='./assets/images/jflores.jpeg' alt='' class='my-image' />
        </div>

        <div class='col-sm-6 col-xs-12'>
            <ul class='social-links'>
                <li><img src='./assets/images/linkedin.png' alt=''/></li>
                <li><img src='./assets/images/twitter00.png' alt=''/></li>
                <li><img src='./assets/images/github_00.png' alt=''/></li>
                <li><img src='./assets/images/instagram.png' alt=''/></li>
            </ul>

            <ul class='navigation-links'>
                <li><a routerLink='blog'>Home</a></li>
                <li><a routerLink='projects'>Projects</a></li>
                <li><a routerLink='about'>About</a></li>
            </ul>
        </div>

    </div>

    <div class='row row-spacer'></div>

    <router-outlet></router-outlet>

</div>