p {
    font-size: 12px;
}

.blog-date {
    height: 18px;
}

.blog-date {
    float: right;
    font-size: 11px;
    padding-left: 10px;
}

.blog-body {
    font-size: 12px;
}

.blog-link a {
    cursor: pointer;
}